@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap");

.heading-font {
  font-family: "Roboto", sans-serif;
}

.body-font {
  font-family: "Open Sans", sans-serif;
}

.underline {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid;
}
